body { 
    margin: auto; 
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: sans-serif;
}

pre {
    display: none;
}

.featured-story {
    display: none;
}

.story-list {
    list-style: none;
    padding: 0;
}

.story-list li {
    border: 2px solid;
    border-radius: 20px;
    padding: 5% 4% 5% 4%;
    margin: 0% 4% 5% 4%;
}

.story-list h1 {
    margin: 0;
    padding-bottom: 5%;
}

.story-list h1 a:hover {
    color: olivedrab;
}

.story-title {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.story-date {
    font-weight:lighter;
}

.story-description {
    font-size: 1em;
    margin: 0;
    padding-bottom: 3%;
    padding-top: 5%;
    line-height: 1.3em;
}

.source-name {
    font-style: italic;
    color: black;
    text-decoration: underline;
    font-weight: 200;
}

figure {
    width: 100%;
    margin: auto;
}

.story-content {
    display: none;
}

.story-source-date {
    padding-top: 5%;
}

.story-source-date a:hover {
    color: olivedrab;
}

@media (min-width: 720px) {
    .story-list {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 25px;
        row-gap: 25px;
    }

    .story-list li {
        margin: 0;
    }

    .story-list .item-contents {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }

    .story-description {
        padding-top: 0;
        font-size: 0.95em;
    }

    .story-source-date {
        font-size: 0.95em;
    }

}

@media (min-width: 1200px) {
    .story-list {
        grid-template-columns: 1fr 1fr;
    }

    .story-description {
        font-size: 0.92em;
    }

    .story-source-date {
        font-size: 0.92em;
    }
}