<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/qis6yta.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Bird Feeder Game</title>
</head>

<body>

    <div class="temporal-container">
        <div class="clock-weather">
            <div id="clock">
                <img src="images/clock/clock_mid.svg" class="clock-mid">
                <img src="images/clock/clock_hour.svg" class="clock-hour">
                <img src="images/clock/clock_min.svg" class="clock-min">
                <img src="images/clock/clock_face.svg" class="clock-face">
            </div>

            <div id="weather">
                <div class="partly-cloudy">
                    <img src="images/partly_cloudy/pc_cloud.svg" class="pc-cloud">
                    <img src="images/partly_cloudy/pc_sun.svg" class="pc-sun">
                </div>

                <div class="cloudy">
                    <img src="images/cloudy/cloudy_cloud.svg" class="cloudy-cloud">
                </div>

                <div class="sunny">
                    <img src="images/sunny/sunny_sun.svg" class="sunny-sun">
                </div>

                <div class="rainy">
                    <img src="images/rainy/rainy_rain.svg" class="rainy-rain">
                </div>

                <div class="lightning">
                    <img src="images/lightning/lightning_cloud.svg" class="lightning-cloud">
                </div>

                <div class="snowy">
                    <img src="images/snowy/snowy_cloud.svg" class="snowy-cloud">
                </div>

                <div class="night">
                    <img src="images/clear_night/clear_night_moon.svg" class="clear-moon">
                </div>

                <div class="partly-cloudy-night">
                    <img src="images/partly_cloudy_night/pc_night_cloud.svg" class="pc-night-cloud">
                    <img src="images/partly_cloudy_night/pc_night_moon.svg" class="pc-night-moon">
                </div>

                <div class="windy">
                    <img src="images/windy/windy_wind.svg" class="windy-wind">
                </div>

            </div>
        </div>
    </div>

    <div id="feeder-seed">

        <div id="bird-on-feeder">
            <img src="images/feeder_bird/bird.svg" class="bird">
        </div>
        
        <img src="images/feeder/feeder.svg" class="bird-feeder">

        <div class="inside-seed">
            <img src="images/feeder_seed/seed_full.png" class="seed-full">
            <img src="images/feeder_seed/seed_3quarter.png" class="seed-3quarter">
            <img src="images/feeder_seed/seed_half.png" class="seed-half">
            <img src="images/feeder_seed/seed_quarter.png" class="seed-quarter">
        </div>

        <div class="seed-info">
            <div>
                <img src="images/seeds/seeds.png" class="seeds">
            </div>
            <div>
                <div class="bar-status"></div>
                <img src="images/seeds/seeds_bar.svg" class="seeds-bar">
            </div>
        </div>

    </div>

    <div id="doodads-info">

        <img src="images/doodads/doodads container.svg" class="doodads-container">

        <div class="doodads-amount">
            <div>
                <img src="images/doodads/doodads.svg" class="doodads">
            </div>
            <div>
                <p class="amount">
                    XX.XX
                </p>
            </div>

        </div>
    </div>

    <div id="inventory" class="inventory-open">
        
        <div id="inventory-info">
            <img src="images/inventory/inventory_shed.svg" class="shed">
            <img src="images/inventory/inventory_tab.svg" class="inventory-tab">
        </div>

        <div class="inside-inventory">
            <div class="inventory-items">
                <ul>
                    <li class="inventory-seed">
                        <div>
                            <img src="images/inventory_seed_bag/seed_bag.svg" class="seed-bag">
                        </div>
    
                        <div>
                            <p class="inventory-seed-desc">
                                <strong>1 bag</strong>
                                <br>
                                regular seed
                            </p>
                        </div>
                    </li>
    
                    <li class="inventory-feeder">
                        <div>
                            <img src="images/inventory_feeder/inventory_feeder.svg" class="simple-feeder">
                        </div>
                        <div>
                            <p class="inventory-feeder-desc">
                                <strong>
                                    simple feeder
                                </strong>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</body>

</html>